@import "tailwindcss";

/* index.css หรือ App.css */
body, #root {
  margin: 0;
  padding: 0;
}

/* สำหรับ Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* สำหรับ Firefox, IE */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
